{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}
{% block extra_head_tags %}
{% endblock %}
{% block content %}
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Jogo</th>
        <th scope="col">Placar</th>
        <th scope="col">Mínimo da temporada</th>
        <th scope="col">Máximo da temporada</th>
        <th scope="col">Quebra recorde min.</th>
        <th scope="col">Quebra recorde máx.</th>
      </tr>
    </thead>
    <tbody>
      {%for p in jogo %}
      <tr>
        <th scope="row">{{p.idJogo}}</th>
        <td>{{p.placar}}</td>
        <td>{{p.placarMin}}</td>
        <td>{{p.placarMax}}</td>
        <td>{{p.quebraRecMin}}</td>
        <td>{{p.quebraRecMax}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table> 
{% endblock content %}