{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head_tags %}
{% load bootstrap4 %}
  <title>App Publica - página inicial</title>
{% endblock %}
{% block content %}

  <h4 class="card-title"><b>Insira o número do jogo e o placar</b></h4>
  
  <div class="p-4">
    <form class="mb-2" action="submit"  method="POST">
      {% csrf_token %}
      <input class='form-control col-lg-2 mx-auto text-center'  placeholder="Placar" name='nPlacar' type='number' min='1' max="999">
    <br>
    <button type='submit' class='btn btn-primary'>Inserir Jogo</button>
    </form>
  </div>

  <table class="table table-bordered col-lg-12 mx-auto">
    <thead>
      <tr>
        <th scope="col">Jogo</th>
        <th scope="col">Placar</th>
        <th scope="col">Mínimo da temporada</th>
        <th scope="col">Máximo da temporada</th>
        <th scope="col">Quebra recorde min.</th>
        <th scope="col">Quebra recorde máx.</th>
      </tr>
    </thead>
    <tbody>
      {%for p in jogo %} <!--função para apresentar todos os objetos que estão na tabela Jogo-->
      <tr>
        <th scope="row">{{p.idJogo}}</th>
        <td>{{p.placar}}</td>
        <td>{{p.placarMin}}</td>
        <td>{{p.placarMax}}</td>
        <td>{{p.quebraRecMin}}</td>
        <td>{{p.quebraRecMax}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table> 

{% endblock content %}